body{
    width: 100vw;
    min-height: 150vh;
}


.space-navbar {
    width: 100vw;
    height: 70px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    align-items: center
}

.space-navbar > h1 {
    color: white;
}

.left-sidebar {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0 10px; */
    align-items: center;
}

.right-sidebar{
    width: 50vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0px
}

.picture-space {
    width: 100vw;
    height: 80vh;
    background: gray;
    position: relative;
    display: block;
    margin-top:  70px;
    
}

.bar-in-picture {
    width: 100vw;
    height: 70px;
    background: rgb(97, 97, 97);
    position: absolute;
    bottom: 0;
    /* justify-content: space-around; */
    /* flex-direction: row; */
    /* color: aqua; */
    font-size: 15px;
    /* display: inline; */
}

.middle-text {
    width: 100%;
    height: 50px;
    /* display: inline; */
    position: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.bottom-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: rgb(194, 194, 194);
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.foot-bar {
    width: 100vw;
    height: 70px;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin: 0 5px;
    justify-content: space-around;
    align-items: center
}

.right-footbar {
    display: flex;
    justify-content: flex-end
}

.boxes {
    display: flex;
    justify-content: space-evenly
}
.text {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.bar-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: whitesmoke;
}